.btn-delete{
	background: #DE6262;
	outline: none;
	color:#fff;
	font-size: 14px;
	font-weight: normal;
	border-color: #DE6268;
	border-radius: 2px;
}

.btn-delete:hover,
.btn-delete:focus {
	color: #fff;
	background-color: #DE622F;
	border-color: #DE622F;
}