.card.text-center {
	margin: 5px; width: 18rem;
	padding: 2px;
	border: 1px #000000 solid;
}

.button-add {
	color: #FFFFFF;
	background-color: #029f5b;
	border-radius: 2px;
	margin:5px;
}

.number-picker {
	border: .5px #E0E0E0 solid;
	border-radius: 2px;
}